html{
    font-size:62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 1.4rem; 
    line-height: 1.6;
    letter-spacing: .1em;
    }
:root {
    --head:#07CDCE;
    --main:#555555;
    --main_line:#ccc;
    --contact:#F7F7F7;
    --head_button:#0ba7aa;
    --head_button_hovered:#11c4c6;
    --contact_button:#555555;
    --white:#fff;
    
    }
#head{
    background-color: var(--head);
    text-align:center;
    padding:13rem 0 11rem 0;
}
.head_title{
    box-sizing: border-box;
    line-height: 1.3;
    font-size:3.8rem;
    color:var(--white);
    width:40%;
    margin:0 auto;
    margin-bottom:3.2rem;
    padding:5rem 10rem 5rem 10rem;
    border-style: double solid;
    border-width: 4px 1px;
    min-width:50rem;
}
.head_title_strong{
    font-weight: bolder;
}
.head_subtitle{
    font-size:2.4rem;
    color:var(--white);
    margin-bottom:3.2rem;
}
.head_button_hoverable{
    text-decoration: none;
    font-size:1.6rem;
    color:var(--white);
    padding:1rem 2rem;
    display:inline-block;
    margin:0 auto;
    background-color: var(--head_button);
    cursor: pointer;
}
.head_button_hoverable:hover{
    background-color: var(--head_button_hovered);
}
@media (min-width:430px) and (max-width:730px){
   #head{
       padding:5rem 2rem 5rem 2rem;
   }
   .head_title{
    padding:2rem 2.5rem 2rem 2.5rem;
    font-size:3rem;
    min-width:40rem;
   }
}
@media(max-width:430px){
    #head{
        padding:2rem 1rem 2rem 1rem;
    }
    .head_subtitle{
        font-size:2rem;
    }
    .head_title{
     padding:1rem 2rem 1rem 2rem;
     font-size:2.8rem;
     min-width:30rem;
    }
    .head_button_hoverable{
        width:80%;
    }
   
}
#main{
    padding:3rem 0 3rem 0;
    text-align:center;
    color:var(--main);
}
.main{
    margin:0 3rem 0 3rem;
    max-width:80rem;
    margin:0 auto;
}
.main_title{
    font-size:2.6rem;
    padding-bottom:1rem;
    margin-bottom:4rem;
    border:var(--main_line);
    border-style: double solid;
    border-width: 0 0 4px 0;
    display:inline-block;
    
}
.main_container{
    margin-bottom:3.2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container_item{
    width:33.3333%;
    box-sizing: border-box;
    border:1px solid var(--main_line);
    padding:3.2rem 2.4rem 0 2.4rem;
}
.item_icon{
    font-size:4.5rem;
    color:var(--head);
    display: inline-block;
    margin-bottom: 3.1rem;
}
.item_title{
    font-size:1.9rem;
    margin-bottom:1.9rem;
}
.item_content{
    font-size: 1.6rem;
    margin-bottom:3.2rem;
}
@media (min-width:430px) and (max-width:730px){
    #main{
        padding:1rem 2rem;
    }
    .main{
        margin:0;
    }
    .container_item{
        width:50%;
    }
}
@media(max-width:430px){
    #main{
        padding:0 1rem 0 1rem;
    }
    .main{
        margin:0;
    }
    .main_title{
        font-size:2.3rem;
        margin-top:1rem;
    }
    .container_item{
        width:50%;
    }
    .container_item{
        width:100%;
    }
}
#contact{
    padding:10vw 0 10vw 0;
    color:var(--main);
    text-align:center;
    background-color: var(--contact);
    
}
.contact{
    margin:0 30vw 0 30vw;
    margin:0 auto;
    max-width:50rem;
     
}
.contact_title{
    font-size:2.6rem;
    margin:1rem 0 1rem 0;
    border:var(--main_line);
    border-style: double solid;
    border-width: 0 0 4px 0;
    display:inline-block;
}
.contact_form{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_item{
    box-sizing: border-box;
    margin-bottom:3.2rem;
    width:47%;
}
.item_label{
    display:block;
    font-size:1.4rem;
}
.item_input{
    width:100%;
    height:4.5rem;
    border:1px solid var(--main_line);
    border-radius:2px;
}
.item_input:focus{
    border:1px solid var(--head);
    border-radius:2px; 
    outline: 0;
}
.form_item_full{
    margin-bottom:3.2rem;
    box-sizing: border-box;
    width:100%;
}
.item_label_textarea{
    display:block;
    font-size:1.4rem;
}
.form_textarea{
    box-sizing: border-box;
    width:100%;
    padding:1.2rem 1.6rem;
    height:13rem;
    border:1px solid var(--main_line);
    border-radius:2px;
}
.form_textarea:focus{
    border:1px solid var(--head);
    border-radius:2px; 
    outline: 0; 
}
.form_submit{
    display: block;
    width:100%;
}
.form_submit_button{
  
    width:30%;
    margin:0 auto;
    color:var(--white);
    background-color: var(--main);
    padding: 1.5rem 1rem;
    font-size:1.6rem;
    cursor: pointer;
    min-width:30rem;
}

@media (min-width:430px) and (max-width:730px){
    #contact{
        padding:0 3rem;
    }
    .contact{
        margin:0 auto;
    }
    .contact_title{
        margin:1rem 0 1rem 0;
    }
    .form_submit_button{
        width:98%;
    }
    .form_item{
        width:98%;
    }
}
@media(max-width:430px){
    #contact{
        padding:0 3rem;
    }
    .contact{
        margin:0 ;
    }
    .form_submit_button{
        width:100%;
    }
    .form_item{
        width:98%;
    }
   
}

#footer{
    padding:6.4rem 3.2rem 4.8rem 3.2rem;
    color:var(--main);
    background-color: var(--contact);
    text-align:center;
    

}
.footer_copyright{
    margin-bottom:2.8rem;
}
